.C8Yheaderlogo { margin: 0 16px 0 50px; background: transparent url('../images/garden/header.mygarden.png') no-repeat center center; }
.C8Yloginpanel { border: 0; background: transparent url('../images/garden/login-garden.png') no-repeat center center }
.C8Yloginpanel-copyright-text { color: #111111; font-size: 0px !important; font-weight: normal; margin: 0; padding: 0; position: absolute; left: 410px; top: 366px }
.x-form-item-label { color: #77b041; font-weight: bold; }

.mainAction { border: 1px solid #77b041; color:#ffffff; background: transparent url('/apis/ui/resources/images/c8y-generic/primary_buttton_up.png') repeat-x !important; }
.mainAction { background: transparent url('/apis/ui/resources/images/c8y-generic/buttonsgrad_up.png') repeat-x !important; }
.mainAction * { color: #000000 !important; }
.mainAction.x-btn-pressed, .mainAction:hover { background: transparent url('/apis/ui/resources/images/c8y-generic/buttonsgrad_down.png') repeat-x !important; }

/* Alarms Audits Events Grid icons */
.iconDetailsGridActionColumn     { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/icon/overview_down.png') no-repeat center center !important; height: 16px; width: 16px;}
.iconSaveGridActionColumn        { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/icon/apps_down.png') no-repeat center center !important; height: 16px; width: 16px;}
.iconCriticalGridActionColumn    { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/alarmIcons/critical.png') no-repeat center center !important; vertical-align:bottom; width: 12px; height: 12px;}
.iconMajorGridActionColumn       { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/alarmIcons/major.png') no-repeat center center !important; vertical-align:bottom; height: 12px; width: 12px;}
.iconMinorGridActionColumn       { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/alarmIcons/minor.png') no-repeat center center !important; vertical-align:bottom; height: 12px; width: 12px;}
.iconWarningGridActionColumn     { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/alarmIcons/warning.png') no-repeat center center !important; vertical-align:bottom; height: 11px; width: 13px;}

.iconCriticalAlarmHeader       { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/alarmIcons/critical.png') no-repeat center center !important;}
.iconMajorAlarmHeader          { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/alarmIcons/major.png') no-repeat center center !important;}
.iconMinorAlarmHeader          { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/alarmIcons/minor.png') no-repeat center center !important;}
.iconWarningAlarmHeader        { color: #77b041 !important; background-color:#e6e6e6 !important; background: url('/apis/ui/resources/images/c8y-generic/alarmIcons/warning.png') no-repeat center center !important;}

.x-form-field:focus { border: 1px solid #77b041 }

.C8Ymaintoolbar { background: #666666 none !important; }

/* Main menu (toolbar) */
#c8ycardpanel .C8Ymaintoolbar {
    height: 40px !important;
    background: #77b041 none !important;
    font-size: 12px;
    padding: 0 0 0 36px;
    box-shadow: 0 3px 10px #888888
}

.C8Ymainmenubtn:hover { background-color: #77b041 !important }
.C8Ymainmenubtn:hover * { background-color: #77b041; color:#737A0F !important }
.C8Ymainmenubtn.x-btn-pressed * { background-color: #ffffff; color:#77b041 !important }
/*.C8Ymainmenubtn:hover { background-color: #666666 !important; }
.C8Ymainmenubtn:hover * { background-color: #666666; color:#FFCC00 !important; }*/

h1.header {
    font-size:24px !important;
    color:#77b041;
    font-weight:normal;
    padding-bottom:5px;
}

h2.header {
    font-size:14px !important;
    color:#77b041;
    font-weight:normal;
    padding-bottom:5px;
}

h3.header {
    font-size:12px !important;
    color:#77b041;
}

.C8YmainAfterLogin { background-image: initial; }

.iconGraph          { background: url('../images/c8y-generic/icon/GraphChart_up.png') no-repeat center center !important; }
.C8Ymainmenubtn:hover .iconGraph          { background: url('../images/c8y-generic/icon/GraphChart_over.png') no-repeat center center !important; }
.C8Ymainmenubtn.x-btn-pressed .iconGraph          { background: url('../images/c8y-generic/icon/GraphChart_down.png') no-repeat center center !important; }

/* Inventory tree component */
.x-tree-arrows .x-grid-tree-node-expanded .x-tree-elbow-end-plus, .x-tree-arrows .x-grid-tree-node-expanded .x-tree-expander-over .x-tree-elbow-end-plus, .x-tree-arrows .x-grid-tree-node-expanded .x-tree-elbow-plus, .x-tree-arrows .x-grid-tree-node-expanded  .x-tree-expander-over .x-tree-elbow-plus  {
    background: url('../images/c8y-generic/arrow-down-purple.png') no-repeat center center !important
}

.x-tree-arrows .x-tree-elbow-end-plus, .x-tree-arrows .x-tree-expander-over .x-tree-elbow-end-plus, .x-tree-arrows .x-tree-elbow-plus, .x-tree-arrows .x-tree-expander-over .x-tree-elbow-plus {
    background: url('../images/c8y-generic/arrow-right-purple.png') no-repeat center center !important
}

.x-component.x-menu-item.x-box-item.x-component-default.x-menu-item-active {
    background-color: #ffffff !important;
    color: #77b041 !important;
}

.x-tab-active button {
    color: #77b041 !important;
}

.c8y_refresh_icon {
    background: url('/apis/ui/resources/images/c8y-generic/buttonsgrad_up.png') repeat !important;
    padding-left: 6px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 3px;
    color: #77b041 !important;
}

.c8y_refresh_icon_plano {
    background: url('/apis/ui/resources/images/c8y-generic/buttonsgrad_up.png') repeat !important;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 2px;
    padding-bottom: 0;
    color: #77b041 !important;
}

/* Refresh icon to be used on a button */
.iconRefresh { background: url('../images/c8y-generic/icon/iconRefresh.png') no-repeat center center !important }


/* Buttons acting as links */
.C8Y-btnsimple { border: none; background: transparent none !important; font-size: 12px !important; color:#77b041 }
.C8Y-btnsimple * { font-size: 12px !important; color: #77b041 !important }
.C8Y-btnsimple:hover * { font-size: 12px !important; color: #77b041 !important }

.c8y_button2 .x-btn-inner{
    font-size: 14px !important;
    color: #77b041 ;
    height:30px !important;
}

.x-panel-header-text-default {
    color: #77b041;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size:24px !important;
    font-weight: normal;
    padding-bottom:5px;
}

.c8yformrequired { color: #77b041;}